@{
    ViewData["Title"] = "Contact";
}

<div id="alertas">

</div>
<br />
<center id="divBusca">
    <h2>Busque por inforções usando o ID da Gravação</h2>
    <input type="number" id="numberId" />
    <button id="buscar">Buscar</button>
</center>


<div id="divTabela">
    <hr />
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Data Da Entrega</th>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitario</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody id="tabelaErros"></tbody>
    </table>
</div>

<script>
    $("#divTabela").hide();
    $("#buscar").on('click', function () {
        $("#divBusca").hide();
        ajaxCall($('#numberId').val());
        
    });


    function ajaxCall(id) {
        $.ajax({
            url: '/Importacao/GetImportacao/' + id,
            type: 'GET',
            success: function (dados) {                
              
                    $("#divTabela").show();
                   
                        $('#tabelaErros').append(`
                            <tr>
                                <td>${dados.id == null ? "-" : dados.id}</td>
                                <td>${dados.dataEntrega == null ? "-" : dataFormatada(dados.dataEntrega)}</td>
                                <td>${dados.nomeDoProduto == null ? "-" : dados.nomeDoProduto}</td>
                                <td>${dados.quantidade == null ? "-" : dados.quantidade}</td>
                                <td>${dados.valorUnit == null ? "-" : dados.valorUnit}</td>
                                <td>${Math.round((parseFloat(dados.valorUnit) * parseFloat(dados.quantidade)) * 100) / 100}</td>
                            </tr>
                        `);
                    
               
                
            },
            error: function (data) {
                console.log(data.status);
                if (data.status == 404) {
                    $('#alertas').append('<div class="alert alert-danger">Nenhum item gravado no banco de dados com esse ID! Tente outro ID.</div>');
                    setTimeout(() => { document.location.reload(true); }, 3000);
                }
                else if(data.status == 500){
                    $('#alertas').append('<div class="alert alert-danger">Erro interno, por favor tente inserir os dados mais tarde!</div>');
                    setTimeout(() => { document.location.reload(true); }, 3000);
                }
                
            }
        });
       
    }
    function dataFormatada(data) {
        var data = new Date(data),
            dia = data.getDate().toString(),
            diaF = (dia.length == 1) ? '0' + dia : dia,
            mes = (data.getMonth() + 1).toString(),
            mesF = (mes.length == 1) ? '0' + mes : mes,
            anoF = data.getFullYear();
        return diaF + "/" + mesF + "/" + anoF;
    }
    
</script>
